In [2]:
import pandas as pd
import pycountry

# Load your emissions data
df = pd.read_csv("emissions.csv")

# Function to get iso_n3 from country name
def get_iso_n3(name):
    try:
        return int(pycountry.countries.lookup(name).numeric)
    except:
        return None

# Add iso_n3 column
df["iso_n3"] = df["country"].apply(get_iso_n3)

df["iso_n3"]

# Save cleaned version
df.to_csv("iso_emissions.csv", index=False)

In [9]:
df = df[df["iso_n3"].notna()]
df.to_csv("iso_emissions.csv", index=False)

In [17]:
df

       id            country  year   population      co2  iso_n3
0      11        Afghanistan  2023   41454762.0   11.020     4.0
3      47            Albania  2023    2811660.0    5.144     8.0
4      59            Algeria  2023   46164221.0  178.133    12.0
5      71            Andorra  2023      80868.0    0.424    20.0
6      83             Angola  2023   36749907.0   20.781    24.0
..    ...                ...   ...          ...      ...     ...
249  2999            Vietnam  2023  100352189.0  334.726   704.0
250  3011  Wallis and Futuna  2023      11394.0    0.031   876.0
252  3035              Yemen  2023   39390800.0   10.035   887.0
253  3047             Zambia  2023   20723968.0    7.749   894.0
254  3059           Zimbabwe  2023   16340829.0   11.164   716.0

[205 rows x 6 columns]